<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
		<title>MVC With Cakes!</title>

	<!-- Favicon -->
	<link rel="icon" type="image/ico" href="/assets/img/favicon.ico" sizes="32x32" />
	<!-- <img class="mainImg" src="/assets/img/cakeImg.jpg" alt="Cake"> -->
	<!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/assets/css/cakeStyle.css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans+Condensed:300" rel="stylesheet">

</head>
<body>
	
	
	<div id="frame-side"></div>
	<img class="mainImg" src="/assets/img/mainImg.png" alt="Cake">
	{{{ body }}}

	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>